
body {

	line-height: 1.2;
    height: 100%;
    background:url('../img/fondo4.jpg') no-repeat center top;
    
    background-size: cover;
	font-family: 'Open Sans', sans-serif ;
     
}

h1 ,h2 ,h3 ,p {
    color: #FFFFFF   ;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********************************
***********************************/
/**********************************
***********************************/
.content
{
	margin-top: 50px;
	color: #fff;
}
.logo img
{
	display: inline-block;
}
.logo h2
{
	font-family: 'Lobster', cursive;
	font-size: 34px;
    padding-top: 40px;
}


/*estilos iconos fa fa*/

 .fa-info-circle{
    color:white;
    font-size: 30px;

}

.input-group-addon {
    color: #fff;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.sub-p
{
	font-size: 14px;
	padding: 5px 0px 15px;
}
.social ul li
{
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 60px;
	margin-right: 10px;
}
.section-padding
{
	padding: 60px;
}
.about-title h2 
{
	font-size: 34px;
	font-family: 'Lobster', cursive;
	padding-bottom: 10px;
}
.img
{
	margin-top: 30px;
}
.img i
{
	font-size: 44px;
}
.subcription-info 
{
    width: 40%;
    margin: 0 auto 50px;
}
.abt-hd
{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0px 15px;
}
.contact-title i {
    color: #FFFFFF;
    font-size: 1.8em;
    /*text-align: right;*/
    display: block;
    padding: 25px 0 0 0;
}
.contact-title h2
{
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    /*text-align: right;*/
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0px 30px;
}
.contact-title p {
    /*text-align: right;*/
    margin-top: -5px;
    color: rgba(236,240,241,0.9);
    font-size: 13px;
    word-spacing: 1px;
    line-height: 25px;
    padding-bottom: 30px;
}

.contact input[type="text"], .contact input[type="email"] {
    width: 100%;
    background: transparent;
    /*border: 1px solid #EDEDED;*/
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    outline: none;
    color: #ffffff;
}
.social a i
{
    color: #ffff;
    display: block;
    line-height: 48px;
   /* margin:0 auto;
*/
}
.social a:hover
{
    text-decoration: none;
    /* background-color: yellow;*/
}
#contact-info
{
	padding: 0px 0px 40px;
}
.contact textarea {
    width: 100%;
    background: transparent;
    font-size: 13px;
    padding: 15px;
    height: 100px;
    border: 1px solid #EDEDED;
    outline: none;
    resize: none;
    margin-bottom: 5px;
    color: #ffffff;
}

.contact-submit {
    background-color: #24B7A4;
    /*border: 2px solid #24B7A4;*/
    border-radius: 20px;
    color: #FFFFFF;
    width: 100%;
    display: block;
    word-spacing: 1px;
    outline: none;
    margin: 0 auto;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 700;
    padding: 10px;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}


/*footer estilos*/

footer {
    padding: 30px;
    color: #fff;
    text-align: center;
    background-color: #242830;
    margin-bottom: -3em;
}
.tecno{
    margin-top:50px!important;
    left:25%!important;
    right:25%!important;
    margin-left:0!important;
}

.tecno ul li {

    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 60px;
    margin-right: 10px;
    font-size: 30px;
    flood-color: white;
     
}

.footer a
{
    color: #ceccdc;
}

.credits {
    padding-top: 10px;
}




.subscribe_form {
    position: relative;
}



.subscribe_form .subscribe {
    right: 0px;
    top: 0px;
    width: 160px;
    height: 50px;
    position: absolute;
    color: #FFF;
    background-color: #24B7A4;
    border: medium none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-family: "Roboto Slab",serif;
    font-size: 18px;c
}
h2.subs-title  {
    font-family: 'Lobster', cursive;
    font-size: 34px;
    padding: 30px 0px 20px;
}
.subscribe_form input {
    height: 50px;
    border: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    border-radius: 30px;
    color: #000;
}
.subscribe_form input[type=email]
{
    padding-left: 30px;
}
/**********************************
Media Queries
***********************************/
@media (min-width: 501px) and (max-width: 901px) {
.contact-title{
        padding: 15px;
}
.section-padding {
        padding: 60px 30px;
}
.subscribe_form .subscribe {
    width: 100px;
    font-size: 15px;
}
.subcription-info {
        width: 60%;
        margin: 0 auto;
}
body{
    overflow-x:hidden; 
}
}
@media (min-width: 20px) and (max-width: 500px) {
    .contact-title{
        padding: 15px;
}
.section-padding {
        padding: 60px 30px;
}
.subscribe_form .subscribe {
    width: 100px;
    font-size: 15px;
}
.subcription-info {
        width: 80%;
        margin: 0 auto;
}
}


/*slider*/

.slider {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: cambio 15s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 70%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/*videotutorial estilos*/

#videobox {

width:575px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;>
border-radius: 10px;
background:#2d2424;  /* Fondo VideoBox */
border:1px solid #5A5A5A;
padding:10px; -moz-box-shadow: 0px 0px 30px #E3E3E3;
-webkit-box-shadow: 0px 0px 30px #E3E3E3;
box-shadow: 0px 0px 30px #E3E3E3;
/*centrar el div clase # videobox*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10em;

}
.mini {
background: #ffffff;  /* Fondo miniatura */
-webkit-border-radius:3px;
-moz-border-radius: 3px;
border-radius: 3px;
padding:5px;
height:73px;
width:100px;
-moz-transition: 0.5s;
-webkit-transition: 0.5s;
-o-transition:0.5s;
transition: 0.5s;
}
.mini:hover {
-moz-transition: 0.5s;
-webkit-transition: 0.5s;
-o-transition:0.5s;
transition: 0.5s;
height:130px;}
#videobox button{
    margin-left: 12em;
    background-color: #242830;
}

/*estilos cookie*/
.cookie{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 18%;
    background-color: grey;
    opacity: 0.9;
    z-index: 101;
    display: none;
}

.textoCookie{
    position: absolute;
    top:40%;
    left:2%;
    color: white;
    font-size: 15px;
    display: inline;
}
.cookie p a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}